<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head (title='Task Lister')}"
        ></th:block>
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>
        <h1>add category page!</h1>

        <form
            th:action="@{/tasks/addCategory}"
            th:method="POST"
            th:object="${newCat}"
        >
            <label for="name"></label>
            <input th:field="*{name}" />
            <input type="submit" />
        </form>
        <a href="/tasks/create">Cancel</a>
    </body>
</html>
