<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:replace="~{partials/partials :: head(title= 'Submit A Task')}">
          <link rel="stylesheet" th:href="@{/css/createTasks.css}">
        </th:block>
    </head>
    <body>
      <nav th:insert="~{partials/partials :: navbar}"></nav>
      <h1>Create Task</h1>
      <form th:action="@{/tasks/create}" th:method="POST" th:object="${tasker}">
        <label for="title">Title</label>
        <input th:field="*{title}">
        <br>
        <br>
        <label for="description">Description</label>
        <!-- <input th:field="*{description}"> -->
        <textarea cols="30" rows="10" th:field="*{description}"></textarea>
        <br>
        <br>
        <fieldset>
          <legend>Categories:</legend>
          <div th:each="c : ${cat}">
            <label th:for="${c.name}">[[${c.name}]]</label>
            <input type="checkbox" name="cater" th:id="${c.name}" th:value="${c.getName()}">
          </div>
        </fieldset>
        <input type="submit">
      </form>

      <br>


    </body>
</html>