<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block th:replace="~{partials/partials :: head(title= 'Submit A Task')}">
          <link rel="stylesheet" th:href="@{/css/createTasks.css}">
        </th:block>
    </head>
    <body>
      <nav th:insert="~{partials/partials :: navbar}" id="navBar"></nav>
      <h1>Create Task</h1>


      <form th:action="@{/tasks/create}" th:method="POST" th:object="${tasker}">
        <label for="title">Title</label>
        <input th:field="*{title}" id="titleInput" required>
        <br>
        <br>
        <label for="description" id="desc">Description</label>
        <!-- <input th:field="*{description}"> -->
        <textarea cols="30" rows="10" th:field="*{description}" id="descriptionInput" required></textarea>
        <br>
        <br>


          <!-- <label>
            Task Due Date:
            <input type="date" name="bday" />
          </label> -->


        </form>

        <br>
        <fieldset  id="cici">
          <legend>Categories:</legend>

          <div th:each="c : ${cat}">
            <label th:for="${c.name}">[[${c.name}]]</label>
            <input type="radio" name="cater" th:id="${c.name}" th:value="${c.getName()}" class="checker">
            <!-- <span th:text="${c.getName()}"></span> -->
          </div>

          <!-- <span th:text="cat.getName()"></span> -->
        </fieldset>
        <input type="submit" id="sobmit" class="subit" disabled>
      </form>
              <!-- <a th:href="@{/tasks/addCategory}" id="blah">Add Category</a> -->
          <fieldset>
              <button type="button" id="hiddenForm">Add Cat</button>
                <div hidden id="removeHidden">
                  <h1>Add New Category</h1>
                  <form
                  th:action="@{/tasks/create}"
                  th:method="POST"
                  th:object="${newCat}"
                  >

                    <label for="name"></label>
                    <input th:field="*{name}" id="catName" required/>
                    <!-- <button type="submit">Sub Cat</button> -->
                     <input type="submit" value="Sobmyt" id="submitCategory">
                    <button type="button" id="cancelCreateCat">Cancel</button>
                  </form>
                </div>

          </fieldset>
      <br>



<script src="../js/create.js"></script>


    </body>
</html>