<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head (title='Task Editor')}"
        ></th:block>
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>

        <h2 th:if="${task == null}">No ticky, No tasky!</h2>
        <div th:if="${task != null}">
            <form
                th:action="@{|/tasks/${task.id}/edit|}"
                th:method="POST"
                th:object="${task}"
            >
                <label for="title">Title</label>
                <input
                    type="text"
                    name="title"
                    id="title"
                    th:value="${task.title}"
                    required
                />
                <br />
                <label for="description">Title</label>
                <textarea
                    cols="30"
                    rows="10"
                    name="description"
                    id="description"
                    th:text="${task.description}"
                    required
                >
                </textarea>
                <br />
                <br />

                <label for="due">Due date:</label>
                <input
                    type="date"
                    id="start"
                    name="taskDueDate"
                    th:value="${task.taskDueDate}"
                />
                <br />
                <br />
                <!-- <span th:text="${task.isComplete}"></span> -->
                <input
                    id="completeBox"
                    type="text"
                    name="isComplete"
                    th:value="${task.isComplete}"
                />
                <!-- <div th:if="${task.isComplete == 'false'}"> -->
                <div>
                    <span id="insertIfComplete">Is Task Complete?</span>
                    <input type="checkbox" id="html" name="checkbox" />
                </div>

                <input
                    type="text"
                    name="publishDate"
                    id="publishDate"
                    th:value="${task.publishDate}"
                    hidden
                />
                <!-- Hi: <span th:text="${task.publishDate}"></span> -->
                <br />
                <div th:each="x : ${task}">
                    <div th:each="b : ${x.categories}">
                        <fieldset>
                            <legend>Categories:</legend>
                            <div th:each="c : ${cat}">
                                <label th:for="${c.name}">[[${c.name}]]</label>
                                <div th:if="${b.id == c.id}">
                                    <input
                                        type="radio"
                                        name="cater"
                                        th:id="${c.name}"
                                        th:value="${c.getName()}"
                                        checked
                                    />
                                </div>
                                <div th:if="${b.id != c.id}">
                                    <input
                                        type="radio"
                                        name="cater"
                                        th:id="${c.name}"
                                        th:value="${c.getName()}"
                                    />
                                </div>
                                <!-- <span th:text="${c.id}"></span>
                                <span th:text="${b.id}"></span> -->
                            </div>
                        </fieldset>
                    </div>
                </div>

                <input type="hidden" name="userId" th:value="${task.user.id}" />
                <button id="editButt">Edit</button>
            </form>
        </div>

        <script>
            const dateControl = document.querySelector('input[type="date"]');
            console.log(dateControl.value);

            let getCheckbox = document.querySelector("input[name=checkbox]");
            let grabTrueOrFalse = document.getElementById("completeBox").value;
            let insertIfComplete = document.getElementById("insertIfComplete");

            if (grabTrueOrFalse == "true") {
                console.log(grabTrueOrFalse);
                document.querySelector("input[name=checkbox]").checked = true;
                document.getElementById("insertIfComplete").innerText =
                    "Task is Completed!";
                getCheckbox.addEventListener("change", function () {
                    if (grabTrueOrFalse == "true" && this.checked) {
                        document.getElementById("completeBox").value = "true";
                        document.getElementById("insertIfComplete").innerText =
                            "Task is Completed!";
                        // } else if (this.checked) {
                        //     // console.log("Checkbox is checked..");
                        //     document.getElementById("completeBox").value = "false";
                    } else {
                        // console.log("Checkbox is not checked..");
                        document.getElementById("completeBox").value = "false";
                        document.getElementById("insertIfComplete").innerText =
                            "Task not Finished.";
                    }
                });
            }
            if (grabTrueOrFalse == "false") {
                getCheckbox.addEventListener("change", function () {
                    if (grabTrueOrFalse == "false" && this.checked) {
                        document.getElementById("completeBox").value = "true";
                        document.getElementById("insertIfComplete").innerText =
                            "Task is Completed!";
                        // } else if (this.checked) {
                        //     // console.log("Checkbox is checked..");
                        //     document.getElementById("completeBox").value = "false";
                        // document.getElementById("insertIfComplete").innerText =
                        //     "Task is Completed!";
                    } else {
                        // console.log("Checkbox is not checked..");
                        document.getElementById("completeBox").value = "false";
                        document.getElementById("insertIfComplete").innerText =
                            "Task not Finished.";
                    }
                });
            }
        </script>
    </body>
</html>
