<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head (title='Task Editor')}"
        ></th:block>
        <link rel="stylesheet" th:href="@{/css/createTasks.css}" />
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>

        <h2 th:if="${task == null}">No ticky, No tasky!</h2>
        <div id="firstForm" th:if="${task != null}">
            <form
                th:action="@{|/tasks/${task.id}/edit|}"
                th:method="POST"
                th:object="${task}"
                class="row g-3"
                id="createForm"
            >
                <div class="input-group mb-3">
                    <!-- <label for="title">Title</label> -->
                    <span
                        class="input-group-text"
                        id="inputGroup-sizing-default"
                        >Title</span
                    >
                    <input
                        type="text"
                        name="title"
                        id="title"
                        th:value="${task.title}"
                        class="form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default"
                        required
                    />
                </div>
                
                <div class="input-group">
                    <!-- <label for="description">Description</label> -->
                    <span class="input-group-text">Description</span>
                    <textarea
                        class="form-control"
                        aria-label="Task Description"
                        name="description"
                        id="descriptionInput"
                        th:text="${task.description}"
                    >
                    </textarea>
                </div>

                <div class="calendar grid row-gap-3 input-group">
                    <span
                        for="due"
                        class="input-group-text"
                        id="inputGroup-sizing-default"
                        >Due date:</span
                    >
                    <input
                        type="date"
                        id="start"
                        class="haterz col form-control"
                        aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-default"
                        name="taskDueDate"
                        th:value="${task.taskDueDate}"
                    />
                </div>

                <!-- <span th:text="${task.isComplete}"></span> -->
                <input
                    id="completeBox"
                    type="text"
                    name="isComplete"
                    th:value="${task.isComplete}"
                    hidden
                />
                <!-- <div th:if="${task.isComplete == 'false'}"> -->
                <div>
                    <span id="insertIfComplete">Is Task Complete?</span>
                    <input type="checkbox" id="html" name="checkbox" />
                </div>

                <input
                    type="text"
                    name="publishDate"
                    id="publishDate"
                    th:value="${task.publishDate}"
                    hidden
                />
                <!-- Hi: <span th:text="${task.publishDate}"></span> -->

                <div th:each="x : ${task}">
                    <div th:each="b : ${x.categories}">
                        <fieldset id="cici">
                            <legend>Categories:</legend>
                            <div th:each="c : ${cat}">
                                <label th:for="${c.name}">[[${c.name}]]</label>
                                <div th:if="${b.id == c.id}">
                                    <input
                                        type="radio"
                                        name="cater"
                                        th:id="${c.name}"
                                        th:value="${c.getName()}"
                                        class="checker"
                                        checked
                                    />
                                </div>
                                <div th:if="${b.id != c.id}">
                                    <input
                                        type="radio"
                                        name="cater"
                                        th:id="${c.name}"
                                        th:value="${c.getName()}"
                                    />
                                </div>
                                <!-- <span th:text="${c.id}"></span>
                                <span th:text="${b.id}"></span> -->
                            </div>
                        </fieldset>
                    </div>
                </div>

                <input type="hidden" name="userId" th:value="${task.user.id}" />
                <input type="submit" value="Edit" id="editButt" />
            </form>
        </div>

        <div th:insert="~{partials/partials :: script}"></div>

        <script src="/js/isCompleted.js"></script>
    </body>
</html>
