<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head (title='Task Lister')}"
        ></th:block>
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>
        <header th:insert="~{partials/partials :: header}"></header>

        <form action="/tasks/search" method="GET">
            <label for="search">Find Task</label>
            <input type="text" name="search" id="search" />
            <button>Search</button>
        </form>
        <!-- This is when the user searches by TITLE or DESCRIPTION -->
        <!-- <div th:if="${results}">
            <div th:each="task : ${results}">
                <h2 th:text="${task.title}"></h2>
                <p th:text="${task.description}"></p>
                <div th:each="findCategoryName : ${task.categories}">
                    <h4 th:text="${findCategoryName.name}"></h4>
                </div>
            </div>
        </div> -->

        <!-- This is when the user searches by CATEGORY -->
        <!-- <div th:if="${results2}">
            <div th:each="task : ${results2}">
                <h2 th:text="${task.title}"></h2>
                <p th:text="${task.description}"></p>
                <h4 th:text="${categoryName.getName}"></h4>
            </div>
        </div> -->
        <!-- <div th:each="x : ${listAllTasks}">
            <div th:if="${x.id == x.id}">
                <p th:text="${x.id}"></p>
            </div>
        </div> -->
        <div th:each="listingAll : ${listAllTasks}">
            <div class="card m-2" style="width: 18rem">
                <div class="card-body mx-auto">
                    <h2>
                        <a
                            th:text="${listingAll.title}"
                            th:href="@{|/tasks/${listingAll.id}|}"
                        ></a>
                    </h2>
                    <p th:text="${listingAll.description}"></p>
                    <!-- <span th:text="${listingAll.publishDate}"></span> -->
                    <div th:each="findCategoryName : ${listingAll.categories}">
                        <h4 th:text="${findCategoryName.name}"></h4>
                    </div>

                    <!-- <span th:text="${listingAll.isComplete}"></span> -->

                    <!-- THIS GETS PUBLISH DATE SO WE CAN CONVERT -->
                    <span
                        class="getPublishDate"
                        th:text="${listingAll.publishDate}"
                        hidden
                    ></span>
                    <p>
                        Posted on:
                        <span class="publishNewDate"></span>
                    </p>

                    <span
                        class="getOldTaskDate"
                        th:text="${listingAll.taskDueDate}"
                        hidden
                    ></span>
                    Due on:
                    <span class="showNewTaskFormatDate"></span>
                    <br />
                    <br />
                    <div th:if="${listingAll.isComplete == 'false'}">
                        <span>Task Incomplete</span>
                    </div>
                    <div th:if="${listingAll.isComplete == 'true'}">
                        <span>Task Complete</span>
                    </div>
                    <!-- <hr /> -->
                </div>
            </div>
        </div>
        <!-- </div>
        </div> -->

        <!-- Build the pagination component -->
        <div class="container text-center">
            <nav class="text-center" aria-label="...">
                <ul class="pagination">
                    <li
                        th:class="${listAllTasks.isFirst()}? 'page-item disabled' : ''"
                    >
                        <span
                            class="page-link"
                            th:if="${listAllTasks.isFirst()}"
                            >First</span
                        >
                        <a
                            th:if="${!listAllTasks.isFirst()}"
                            th:href="'?page=0'"
                            class="page-link"
                        >
                            First
                        </a>
                    </li>
                    <li
                        th:class="${listAllTasks.hasPrevious()}? '' : 'page-item disabled'"
                    >
                        <span
                            class="page-link"
                            th:if="${!listAllTasks.hasPrevious()}"
                            >Previous</span
                        >
                        <a
                            class="page-link"
                            th:if="${listAllTasks.hasPrevious()}"
                            th:href="'?page=' + ${listAllTasks.getNumber() - 1}"
                            title="Go to previous page"
                            aria-label="Previous"
                        >
                            Previous
                        </a>
                    </li>
                    <!-- Show a link to each page  -->
                    <li
                        class="page-item"
                        th:each="i : ${#numbers.sequence(1, listAllTasks.getTotalPages())}"
                    >
                        <span
                            class="page-link"
                            th:if="${(i - 1) == param.page}"
                            th:text="${i}"
                        >
                            1
                        </span>
                        <a
                            class="page-link"
                            th:if="${not ((i - 1) == param.listAllTasks)}"
                            th:href="'?page=' + ${(i -1)}"
                        >
                            <span th:text="${i}">1</span>
                        </a>
                    </li>
                    <li
                        th:class="${listAllTasks.hasNext()} ? '' : 'page-item disabled'"
                    >
                        <span
                            class="page-link"
                            th:if="${!listAllTasks.hasNext()}"
                            >Next</span
                        >
                        <a
                            class="page-link"
                            th:if="${listAllTasks.hasNext()}"
                            th:href="'?page=' + ${listAllTasks.getNumber() + 1}"
                            title="Go to next page"
                        >
                            Next
                        </a>
                    </li>
                    <li
                        th:class="${listAllTasks.isLast()}? 'page-item disabled' : ''"
                    >
                        <span class="page-link" th:if="${listAllTasks.isLast()}"
                            >Last</span
                        >
                        <a
                            class="page-link"
                            th:if="${!listAllTasks.isLast()}"
                            th:href="'?page=' + ${listAllTasks.getTotalPages() - 1}"
                        >
                            Last
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script> -->
        <script src="../js/formatDate.js"></script>
    </body>
</html>
