<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head (title='Task Lister')}"
        ></th:block>
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>
        <header th:insert="~{partials/partials :: header}"></header>

        <form action="/tasks/search" method="GET">
            <label for="search">Find Task</label>
            <input type="text" name="search" id="search" />
            <button>Search</button>
        </form>
        <div th:if="${results}">
            <ul>
                <li th:each="task : ${results}">
                    <h2 th:text="${task.title}"></h2>
                    <p th:text="${task.description}"></p>
                </li>
            </ul>
        </div>

        <div th:each="listingAll : ${listAllTasks}">
            <h2>
                <a
                    th:text="${listingAll.title}"
                    th:href="@{|/tasks/${listingAll.id}|}"
                ></a>
            </h2>
            <p th:text="${listingAll.description}"></p>
            <!-- <span th:text="${listingAll.publishDate}"></span> -->
            <div th:each="findCategoryName : ${listingAll.categories}">
                <h4 th:text="${findCategoryName.name}"></h4>
            </div>
            <p>Posted on: <span th:text="${listingAll.publishDate}"></span></p>
            <p>Due on: <span th:text="${listingAll.taskDueDate}"></span></p>
        </div>
    </body>
</html>
