<!DOCTYPE html>
<html lang="en">
    <head>
        <th:block
            th:replace="~{partials/partials :: head(title= 'See 1 Task')}"
        ></th:block>
    </head>
    <body>
        <nav th:insert="~{partials/partials :: navbar}"></nav>
        <header th:insert="~{partials/partials :: header}"></header>

        <h2>Here is a Task:</h2>
        <h3 th:text="${task.title}"></h3>
        <p th:text="${task.description}"></p>
        <div th:each="findCategoryName : ${task.categories}">
            <h4 th:text="${findCategoryName.name}"></h4>
        </div>
        <p>Posted By: [[${task.user.username}]]</p>
        <!-- <p>Posted on: <span th:text="${task.publishDate}"></span></p> -->

        <!-- THIS GETS PUBLISH DATE SO WE CAN CONVERT -->
        <span id="publish" th:text="${task.publishDate}" hidden></span>
        <p>
            Posted on:
            <span id="publishAgain"></span>
        </p>

        <span id="publishTask" th:text="${task.taskDueDate}" hidden></span>
        <p>Due by: <span id="publishNewTask"></span></p>

        <br />
        <span th:if="${task.user.id == userId}">
            <a th:href="@{|/tasks/${task.id}/edit|}">Edit</a>
            <br />
            <a th:href="@{|/tasks/${task.id}/delete|}">Delete</a>
        </span>

        <script src="../js/formatDate.js"></script>
    </body>
</html>
