<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <th:block th:frament="head (title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css">
  </th:block>
</head>
<body>
  <nav th:fragment="navbar">
    <ul class="nav-links">
      <li class="nav-item">
        <a href="/tasks">Tasks</a>
      </li>
    </ul>
  </nav>
  <header th:fragment="header">
    <h1>Task Lister</h1>
  </header>

</body>
</html>