/* form{
  display: flex;
  flex-direction: column;
} */

/* .createForm{
  border-style: solid;
} */

#firstForm {
  text-align: center;
}
#createForm {
  display: inline-block;
  /* border-style: solid; */
  /* width: 75%; */

}

#sobmit{
  /* border-style: solid; */
  width: 25%;
}

#hiddenForm{
  width: auto;
}

#fSet{
  text-align: center;
}

#newCategoryForm{
  display: inline-block;
}

.x{
    /* border-style: solid; */
    display: flex;
    justify-content: space-evenly;

  }

  /* #submitCategory{
  } */

  /* #cancelCreateCat{
  } */