*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* form{
  display: flex;
  flex-direction: column;
} */

/* .createForm{
  border-style: solid;
} */
#createTaskTitle{
  text-align: center;
  margin-top: 10px;
}

#firstForm {
  text-align: center;
}
#createForm {
  display: inline-block;
  /* border-style: solid; */
  /* width: 75%; */

}

#sobmit{
  /* border-style: solid; */
  width: 25%;
}

#hiddenForm{
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#fSet{
  text-align: center;
}

#newCategoryForm{
  display: inline-block;
}

.addCategoryAndCancelBtns{
    /* border-style: solid; */
    display: flex;
    justify-content: space-evenly;

  }

  /* #submitCategory{
  } */

  #loginContainer{
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
