*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#allCards{
  /* border: 2px solid red; */
  /* display: flex; */
}

#b{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* body{
  border: 2px solid orange;
} */

#searchForm{
  /* border: 2px solid red; */
  /* display: inline; */
}