<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    lang="en"
>
    <head>
        <th:block
            th:replace="~{partials/partials :: head(title= 'Task Register')}"
        >
        </th:block>
        <link rel="stylesheet" th:href="@{/css/createTasks.css}" />
    </head>
    <body>
        <nav th:replace="~{partials/partials :: navbar}"></nav>
        <div id="registerContainer">
            <h1>Create Account</h1>
            <form
                class="row g-3"
                th:action="@{/register}"
                th:method="POST"
                th:object="${user}"
                id="regForm"
            >
                <div class="col-md-4">
                    <!-- <label for="username" class="col-sm-2 col-form-label"
                    >Username</label
                > -->
                    <!-- <div class="regCol col-sm-10"> -->
                    <input
                        class="form-control"
                        th:field="*{username}"
                        id="username"
                        placeholder="Username"
                        aria-label="Username"
                        required
                    />
                    <!-- </div> -->
                </div>

                <div class="col-md-4">
                    <!-- <label for="email" class="col-sm-2 col-form-label">Email</label> -->
                    <!-- <div class="col-6"> -->
                    <input
                        type="email"
                        class="form-control"
                        th:field="*{email}"
                        id="email"
                        placeholder="Email"
                        required
                    />
                    <!-- </div> -->
                </div>

                <div class="col-md-4">
                    <!-- <label for="password" class="col-sm-2 col-form-label"
                    >Password</label
                > -->
                    <!-- <div class="col-6"> -->
                    <input
                        th:field="*{password}"
                        id="password"
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        required
                    />
                    <!-- </div> -->
                </div>

                <!-- <input type="submit" value="Sign Me Up!" /> -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        Sign Me Up!
                    </button>
                </div>
            </form>
        </div>

        <div th:insert="~{partials/partials :: script}"></div>
    </body>
</html>
